/********************************/
/*  Form                        */
/********************************/
.form-widget {
    max-width: 600px;
    margin: auto;
}

.bar-widget .form-widget {
    max-width: none;
}

.bar-widget .form-group-widget[type=horizontal] .form-element-widget .ui-input-text,
.bar-widget .form-group-widget[type=horizontal] .form-element-widget .ui-input-search,
.bar-widget .form-group-widget[type=horizontal] .form-element-widget .ui-select .ui-btn,
.bar-widget .form-group-widget[type=horizontal] .button-widget {
    border-bottom: none;
}

/********************************/
/*  Dialog                      */
/********************************/
.dialog > .layout-widget > .form-widget {
    padding: 0 .5em;
}

.dialog .footer-bar > .layout-widget {
    max-width: 600px;
    margin: auto;
}

/********************************/
/*  Table                       */
/********************************/
.table-widget tr.separator {
    background-color: #ededed;
    cursor: inherit;
    font-weight: 700;
}

/********************************/
/*  Popup                       */
/********************************/
.popup-widget .body {
    padding: .5em;
}

.popup-widget .body.list-widget {
    padding: 0;
}

.popup-widget .buttons div:first-child .button-widget {
    margin-left: .5em;
}

.popup-widget .buttons div:last-child .button-widget {
    margin-right: .5em;
}

/********************************/
/*  ErrorPopup                  */
/********************************/
#error-popup .body.list-widget {
    padding: .5em;
}

#error-popup .list-item-widget {
    list-style-type: circle;
    margin-left: 1em;
}

/********************************/
/*  Bar                         */
/********************************/
.bar-widget .ui-title {
    margin: 0;
    text-shadow: 0 1px 0 #fff;
}

.bar-widget .ui-title .text {
    padding-left: .5em;
}

.bar-widget > .border-layout-widget > .left {
    margin-left: .5em;
    text-align: left;
}

.bar-widget > .border-layout-widget > .left > .ui-title {
    text-align: left;
}

.bar-widget > .border-layout-widget > .right {
    margin-right: .5em;
    text-align: right;
}

.bar-widget > .border-layout-widget > .right > .ui-title {
    text-align: right;
}

.bar-widget > .grid-layout-widget .button-widget {
    font-size: inherit;
    display: inherit;
    vertical-align: inherit;
}

/********************************/
/*  ErrorList                   */
/********************************/
.error-list-widget {
    border: 1px solid red;
    color: red;
    background-color: mistyrose;
    margin: .5em 0;
    padding: .5em 1.5em;
}

.error-list-widget > .list-item-widget {
    list-style-type: circle;
    border: none;
}

/********************************/
/*  SearchForm                  */
/********************************/
.search-form .widget .ui-input-search,
.search-form .widget.ui-btn {
    border-radius: 0;
    border-top: none;
    border-left: none;
}

.search-form .form-group-widget[type=horizontal] > .button-widget:last-child {
    border-right: none;
}

/********************************/
/*  Loader                      */
/********************************/
#loader > .layout-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#loader .label-widget,
#loader .icon-widget,
#loader .text {
    display: block;
}

#loader .icon-widget {
    font-size: 4em;
}

#loader .text {
    margin-top: .5em;
}