/********************************/
/*  Global                      */
/********************************/
body {
    margin: 0;
}

.noselect :not(input):not(textarea) {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
}

.ui-input-text:focus,
.ui-input-search:focus,
.ui-focus {
    outline: none !important;
    box-shadow: none !important;
}

.disabled {
    opacity: 0.3;
}

.done {
    text-decoration: line-through;
}

/********************************/
/*  Model view                  */
/********************************/
.model-view {
    padding: .5em;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.model-view .label {
    font-weight: 700;
}

/********************************/
/*  Table                       */
/********************************/
.table-bar {
    border-top: none;
}

table {
    width: 100%;
}

td .image {
    background-size: cover;
    width: 2.5em;
}

td .photo {
    background-size: cover;
    width: 64px;
    height: 48px;
}

td .description {
    font-size: 0.8em;
    line-height: normal;
}

td .center {
    text-align: center;
}

td .right {
    text-align: right;
}

/********************************/
/*  Home page                   */
/********************************/
#home-page {
    position: absolute;
    background-color: #aaa;
    width: 100%;
    height: 100%;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}

#home-page > .pane {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/********************************/
/*  Signup & Login page         */
/********************************/
#signup-page .body,
#login-page .body {
    padding: .5em;
    max-width: 600px;
    margin: auto;
}

/********************************/
/*  Task page                   */
/********************************/
#task-page tr.photo td {
    padding: .25em 0 .25em 0;
    line-height: 0;
}

#task-page tr.photo img {
    width: 100%;
    height: auto;
}

/********************************/
/*  Calendar page               */
/********************************/
#calendar-page .table-widget {
    table-layout: fixed;
    font-size: 1em;
    font-weight: normal;
    text-shadow: none;
}

#calendar-page .table-widget tr {
    border-bottom: none;
}

#calendar-page .calendar-table-header td {
    text-align: center;
    line-height: inherit;
    background-color: #fefefe;
    color: #333;
}

#calendar-page .calendar-table-header td:hover {
    background-color: #ededed;
    cursor: pointer;
}

#calendar-page .calendar-table-header .weekday {
    font-size: 0.6em;
}

#calendar-page .calendar-table-body tr:hover {
    background-color: inherit;
    cursor: inherit;
}

#calendar-page .calendar-table-body td {
    padding: 0;
    vertical-align: top;
}

#calendar-page .task {
    padding: 0.5em 0.2em;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}

#calendar-page .task.reported {
    background-color: #ebebeb;
}

#calendar-page .task:hover {
    background-color: #ededed;
    cursor: pointer;
}

#calendar-page .task.reported:hover {
    background-color: #e0e0e0;
}

#calendar-page .task .title {
    font-size: .6em;
}

#calendar-page .task .description {
    font-size: .5em;
}

/********************************/
/*  Planner page                */
/********************************/
#planner-page .planner-body {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.6em;
    font-weight: normal;
    text-shadow: none;
}

#planner-page .table-widget tr:last-child {
    border-bottom: none;
}

#planner-page .content {
    padding: 0;
}

#planner-page .zone {
    /*
    writing-mode: vertical-rl;
    padding-right: .5em;
    */
}

#planner-page .crops {
    width: 50em;
    padding: .3em 0 .3em 0;
}

#planner-page .crop {
    background-color: #ededed;
    padding: .5em;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    border: solid 1px #ccc;
}

#planner-page .crop:not(:last-child) {
    margin-bottom: .5em;
}

/********************************/
/*  Photo dialog                */
/********************************/
#photo-dialog form {
    padding: 0;
}

#photo-dialog form .photo-form-element-widget img {
    width: 100%;
    height: auto;
}

#photo-dialog form .photo-form-element-widget img:hover {
    cursor: pointer;
}

/********************************/
/*  Camera dialog               */
/********************************/
#camera-dialog {
    background-color: black;
}

#camera-dialog video {
    width: 100%;
}

#camera-dialog canvas {
    display: none;
}

#camera-dialog i.button {
    position: fixed;
    padding: .5em;
    font-size: 2em;
    color: #aaa;
}

#camera-dialog i.button:hover {
    cursor: pointer;
}

#camera-dialog i.cancel-button {
    bottom: 0;
    left: 0;
}

#camera-dialog i.validate-button {
    bottom: 0;
    right: 0;
}