.noselect :not(input):not(textarea) {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
}

.ui-input-text:focus,
.ui-input-search:focus,
.ui-focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Table */
tr.disabled {
    opacity: 0.3;
}

td .image {
    background-size: cover;
    width: 2.5em;
}

td .photo {
    background-size: cover;
    width: 64px;
    height: 48px;
}

td .description {
    font-size: small;
    line-height: normal;
    white-space: nowrap;
}

td .center {
    text-align: right;
}

td .right {
    text-align: right;
}

/* Home page */
#home-page h1 {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
